.weatherContent__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;

  .weatherContent__badResponse {
    font-size: 24px;
  }

  .weatherContent__weatherIcon {
    filter: invert(0.9);
    // нужно будет svg конвертнуть в tsx
  }

  .weatherContent__temp {
    font-size: 96px;
    font-weight: bold;
  }
}
