.footerSettings__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .footerSettings__tempView {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    max-width: 40px;
    max-height: 40px;

    font-size: 28px;
    font-weight: bold;
    line-height: f;

    &:hover {
      background-color: #00000020;
    }
  }

  .footerSettings__settingsButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    max-width: 40px;
    min-height: 40px;

    &:hover {
      background-color: #00000020;
    }
  }
}
