.weatherContainer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;

  .weatherContainer__badResponse {
    font-size: 24px;
  }

  .weatherContainer__weatherIcon {
    filter: invert(0.9);
    // нужно будет svg конвертнуть в tsx
  }

  .weatherContainer__mainData {
    display: flex;
    flex-direction: column;
    align-items: center;

    .weatherContainer__temp {
      font-size: 96px;
      font-weight: bold;
      margin: 0;
      display: flex;
      height: 120px;

      .weatherContainer__degreeIcon {
        font-size: 66px;
      }
    }

    .weatherContainer__description {
      font-size: 22px;
    }
  }

  .weatherContainer__details {
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .weatherContainer__detail {
      display: flex;
      align-items: center;
      justify-content: center;

      .weatherContainer__detailText {
        display: flex;
        flex-direction: column;
        line-height: 1;
        margin-left: 8px;

        .weatherContainer__detailValue {
          font-size: 25px;
          font-weight: bold;

          .weatherConten__speedUnit {
            font-size: 18px;
          }
        }
      }

      .weatherContainer__detailName {
        font-size: 18px;
        margin: 0;
      }
    }
  }
}
